:root {
    --color-principal: #ED107A;
    --color-secundario: #292929;
    --color-blanco: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    padding-top: 20px;
}
/* GRID */
.calendario__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    font-family: "montserrat", sans-serif;
    padding: 50px 20px;
    align-items: stretch;
    opacity: 0;
    animation: aparecer 1s ease-in-out forwards;
}
/* Define la animación */
@keyframes aparecer {
    from {
      opacity: 0; /* Inicialmente, la opacidad está en 0 (invisible) */
    }
    to {
      opacity: 1; /* Al final de la animación, la opacidad está en 1 (completamente visible) */
    }
  }
.calendario__grid .columna {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: #292929; */
    align-items: stretch;
}

.calendario__grid .fila.sticky {
    position: sticky !important;
    top: 50px;
    z-index: 9;
}
/* COLUMNA 1 */
.calendario__grid .fila {
    position: relative;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
}
.calendario__grid .titulo {
    position: relative;
    width: 100%;
    display: flex;
    gap: 12px;
    justify-content: space-around;
    font-family: "montserrat", sans-serif;
    margin: 0 auto;
    padding: 0;
}
.titulo .columna {
    position: relative;
    width: 50%;
    display: inline-block;
}
.calendario__grid .titulo h2 {
    color: #292929;
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
}
.calendario__grid .titulo h2 span {
    color: var(--color-principal);
    font-weight: 900;
}
.titulo .annio {
    position: relative;
    display: flex;
    gap: 0px;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: var(--color-principal);
    border-radius: 10px;
}
.titulo .annio h2 {
    color: var(--color-blanco);
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}
.calendario__grid .img--evento {
    position: relative;
    width: 100%;
}
.calendario__grid .img--evento img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* COLUMNA 2 */
.calendario__lista .subtitulo {
    margin-bottom: 20px;
}
.calendario__lista .subtitulo h2 {
    color: var(--color-secundario);
    font-size: 26px;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
}
.calendario__lista .subtitulo h2 span {
    color: var(--color-principal);
    font-weight: 900;
}
/* CALENDARIO */
.calendario {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.calendario__contenedor {
    position: relative;
    width: 100%;
    max-width: 1442px;
    min-height: 200px;
    display: flex;
    gap: 40px;
    background-color: var(--color-blanco);;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    border: 2px solid #D1D5DF;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0;
    font-family: montserrat;
    transition: ease-in-out .3s;
}
.activo {
    border: 2px solid var(--color-principal);
}
.calendario__contenedor:hover {
    transform: translateX(-20px);
}
.calendario__columna--img {
    width: 41.56%;
}
.calendario__columna--contenido {
    width: 58.44%;
}
.calendario__etiqueta {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    background-color: var(--color-principal);
    border-radius: 8px 0 50px 0;
    z-index: 2;
}
.calendario__etiqueta h2 {
    color: var(--color-blanco);
    font-size: 24px;
    font-family: montserrat;
}
.calendario__img {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 100%;
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px 0 0 8px;
}
.calendario__contenido {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    min-height: 200px;
    padding: 30px 20px 30px 0;
}
.calendario__contenido h2 {
    color: var(--color-secundario);
    font-size: 26px;
    margin-bottom: 15px;
}
.calendario__contenido p {
    color: var(--color-secundario);
    font-size: 18px;
    margin-bottom: 20px;
}
.calendario__btns {
    display: flex;
    gap: 30px;
    width: 100%;
    max-width: 370px;
}
a.calendario__btn--evento {
    display: inline-flex; /* Cambia a flex */
    align-items: center; /* Centrar verticalmente */
    justify-content: center;
    width: 60%;
    color: var(--color-blanco);;
    background-color: var(--color-principal);
    border: 2px solid var(--color-principal);
    font-size: 15px;
    font-weight: 600;
    line-height: 1.8;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    margin: 0;
    padding: 2px;
    transition: ease-in-out .2s;
    cursor: pointer;
}
a.calendario__btn--evento:hover {
    transform: scale(1.100);
}
.calendario__iconos {
    display: flex;
    gap: 40px;
}
.calendario__icon {
    width: 100%;
    max-width: 40px;
}
.calendario__icon img {
    width: 100%;
    transition: ease-in-out .2s;
}
.calendario__icon img:hover {
    transform: scale(1.100);
}

/* BOTÓN VOLVER */
#botonVolverContenedor {
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 100%;
    max-width: 350px;
}
#volverBtn {
    width: 100%;
    color: var(--color-blanco);
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    background-color: var(--color-principal);
    border: 2px solid var(--color-principal);
    border-radius: 10px 10px 0 0;
    padding: 10px;
    transition: ease-in-out .2s;
    cursor: pointer;
}
#volverBtn:hover {
    color: var(--color-principal);
    background-color: transparent;
    border: 2px solid var(--color-principal);
    border-radius: 15px 15px 0 0;
}
#volverBtn::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    content: "\f060";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-left: 5px;
    transition: ease-in-out .1s;
}
#volverBtn:hover::after {
    left: 15px;
}
/* MEDIA QUERIES */
/* DESKTOP SUPER WIDE */
@media screen and (max-width: 1878px) {
    .calendario__grid .titulo h2 {
        font-size: 2.8vw;
    }
    .titulo .annio h2 {
        font-size: 2.5vw;
    }
}
/* LAPTOP */
@media screen and (max-width: 1200px) {
    /* GRID */
    .calendario__grid {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .calendario__grid .titulo h2 {
        font-size: 4.2vw;
    }
    .titulo .annio h2 {
        font-size: 3.8vw;
    }
    .calendario__grid .fila {
        gap: 20px;
        justify-content: flex-start;
    }
    /* EVENTOS LISTA */
    .calendario__contenedor {
        gap: 0;
        flex-direction: column;
    }
    .calendario__columna {
        width: 100%;
    }
    .calendario__img {
        max-width: 100%;
        height: 200px;
        background-position: center top;
        border-radius: 8px 8px 0 0;
    }
    .calendario__columna--contenido {
        width: 100%;
        padding: 0 20px 0 20px;
    }
}
/* TABLET HORIZONTAL */
@media screen and (max-width: 1000px) {
    .calendario__grid .titulo h2 {
        font-size: 3.5vw;
    }
    .titulo .annio h2 {
        font-size: 3.4vw;
    }
    /* .calendario__grid .columna.sticky {
        position: sticky;
        top: 0;
    } */
}
/* TABLET */
@media screen and (max-width: 900px) {
    /* GRID */
    .calendario__grid {
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 20px;
    }
    .calendario__grid .titulo h2 {
        font-size: 7vw;
    }
    .titulo .columna {
        width: 100%;
    }
    .titulo .annio h2 {
        font-size: 8vw;
    }
    /* .calendario__grid .columna.sticky {
        position: relative;
        top: 0;
    } */
}
/* CELULAR */
@media screen and (max-width: 600px) {
    .calendario__img {
        width: 100%;
        max-width: 100%;
        height: 150px;
        background-position: center top;
        border-radius: 8px 8px 0 0;
    }
    .titulo .annio h2 {
        font-size: 7.4vw;
    }
    /* .calendario__grid .columna.sticky {
        position: relative;
        top: 0;
    } */
    #botonVolverContenedor {
        position: sticky;
        z-index: 99;
        left: 20px;
        bottom: 0;
        width: 100%;
        max-width: 90%;
    }
    #volverBtn:hover {
        color: var(--color-blanco);
        background-color: var(--color-principal);
        border: 2px solid var(--color-principal);
        border-radius: 10px 10px 0 0;
        transform: translateY(5px);
    }
    #volverBtn::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        content: "\f060";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        padding-left: 5px;
        transition: ease-in-out .1s;
    }
    #volverBtn:hover::after {
        left: 15px;
    }
}